* {
	margin: 0;
}

.movieBox {
	height: calc(100% - 2.5px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	.movie-container {
		height: calc(100% - 5px);
		width: calc(100% - 5px);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #ffffff;

		img {
			height: 100%;
			width: 100%;
			justify-self: flex-start;
			object-fit: fill;
		}

		h4 {
			font-size: 1.2rem;
		}

		p {
			font-size: 1.1rem;
		}
	}
}
