* {
	margin: 0;
}

.movieBox {
	height: calc(100% - 2.5px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	.movieBox-container {
		position: relative;
		height: calc(100% - 5px);
		width: calc(100% - 5px);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #ffffff;

		img {
			height: 100%;
			width: 100%;
			justify-self: flex-start;
			object-fit: fill;
		}

		.info {
			opacity: 0;
			transition: opacity 0.3s ease-in;
			overflow-y: scroll;

			h4 {
				font-size: 2rem;
			}

			p {
				font: 1.2rem;
			}
		}

		&:hover .info {
			opacity: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 0.5) 100%
			);
		}
	}
}
